.carousel-item{
  position:relative;
  img{
    position: relative;
    height:160px;
    width:100%;
  }
  .carousel-caption{
    display:flex;
    flex-direction: column;
    position:absolute;
    top:30px;
    text-align: start;
    z-index: 200;
    padding: 3% 0;
    .heading-container{
      display: flex;
      width:70%;
    }
    h3{
      width:auto;
      padding:2% 4%;
      border-radius: 20px;
      background-color: var(--yellow);
      font-family: var(--tomorrow);
      color: var(--black);
      font-size:2rem;
      font-weight:400;
      letter-spacing: 1px;
    }
    a{
      text-decoration: none;
      button{
        width: auto;
        padding:2% 4%;
        border-radius: 20px;
        background-color: var(--black);
        margin-top: 5px;
        font-size:.8rem;
        color:var(--white);
        p{
          font-size: 1rem;
        }
        fa-icon{
          font-size: 0.8rem;
          margin-left:2px;
        }
      }
    }
  }
}


