.hamburguer-menu{
  background-color: transparent;
}
.offcanvas {
  width:70%;
  background-color: var(--black);
  .offcanvas-header {
    flex-direction: column;
    padding:4% 5%;
    .btn-container{
      display:flex;
      justify-content: flex-end;
      width:100%;
      padding:0 0 2%;
      button{
        font-size: 1.2rem;
      }
    }
    h3, a, p{
      padding:2% 0;
    }
    a, p{
      font-family:var(--tomorrow);
      color: var(--white);
    }
    h3{
      font-size:1.8rem;
      text-align: center;
      color:var(--white);
      span:first-of-type{
        color: var(--blue);
      }
      span:last-of-type{
        color: var(--yellow);
      }
    }
    a:first-of-type{
      text-decoration: none;
      font-size:2rem;
      span{
        color:var(--blue);
        transition:0.25s;
      }
    }
    a:hover{
      span{
        color:var(--yellow);
      }
    }
    p{
      font-size: 1.2rem;
      a{
        text-decoration: none;
        font-size:1.2rem;
        transition:0.25s;
        span{
          color:var(--blue)
        }
      }
      a:hover{
        span{
          color:var(--yellow);
        }
      }
    }
  }
  .offcanvas-body{
    padding:4% 5%;
    ul{
      li{
        display:flex;
        flex-direction: row;
        align-items: center;
        padding: 3% 4%;
        border-bottom: 1px solid #f2f2f2b4;
        a{
          text-decoration: none;
          font-family: var(--tomorrow);
          font-size:1.8rem;
          color:var(--white);
          transition:0.25s;
          fa-icon{
            margin-left:3px;
          }
        }
        a:hover{
          color:var(--yellow);
          fa-icon{
            color:var(--wite);
          }
        }
        .dropdown{
          p{
            font-size: 2rem;
            color:var(--white);
          }
          .dropdown-menu{
            padding:2% 3%;
            border:1px solid var(--blue);
            border-radius:5px;
            background-color:var(--black);
            li{
              display:flex;
              flex-direction: row;
              align-items: center;
              padding:2% 3%;
              border-bottom: 1px solid #f2f2f2b4;
              a{
                text-decoration: none;
                font-size:1.8rem;
                color:var(--white);
                fa-icon{
                  margin-left:3px;
                }
              }
            }
            li:last-of-type{
              border-bottom:none;
            }
          }
        }
      }
    }
  }
  .sidemenu-footer{
    display:block;
    text-align: center;
    padding-top:20%;
    p{
      font-family: var(--tomorrow);
      font-size:1.2rem;
      color:var(--white);
    }
    p:first-of-type{
      display:flex;
      align-items: center;
      justify-content: center;
      img{
        margin-left:3px;
      }
    }
  }
}
.mt-3{
  margin:0 !important;
}
