header{
  .header-grid-container{
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    height: auto;
    width: 100%;
    padding:3% 5%;
    background-color: var(--blue);
    .header-logo-container, .header-menu-container{
      display:flex;
      flex-direction: row;
      align-items: center;
    }
    .header-logo-container{
      justify-content:flex-start;
      padding-bottom: 8px;
    }
    .header-menu-container{
      justify-content: flex-end;
      span{
        cursor: pointer;
        height:28px;
        width:30px;
      }
      button{
        background-color: transparent;
        fa-icon{
          cursor: pointer;
          margin-right:20px;
          transform: rotateY(180deg);
          font-size:2rem;
          color:var(--white);
        }
      }
    }
  }
  .nav-grid-container{
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    height: auto;
    width: 100%;
    padding:2% 3.25%;
    background-color: #181818;
    li{
      display:flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      list-style: none;
      a{
        text-decoration: none;
        font-size: 1.4rem;
        color:var(--lightgrey);
        font-weight: 300;
        letter-spacing: 1px;
        transition:0.25s;
      }
      a:hover{
        color:var(--yellow);
      }
      .link-active{
        opacity:1;
        color:var(--blue);
      }
    }
  }
  .sticky-nav{
    width:100%;
    z-index: 500;
  }
  .collapse input, .collapsing input{
    font-size: 1.4rem;
    height:40px;
    width:100%;
    padding:4% 5%;
    border: none;
    background-color:var(--black);
  }
  .collapse input:focus, .collapsing input:focus{
    border: -2px solid var(--yellow);
  }
  .collapsing, .show{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    a{
      text-decoration: none;
      padding:1%;
      button{
        display:flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: 100%;
        width:100px;
        border:1px solid var(--blue);
        border-radius: 20px;
        background-color: var(--black);
        p{
          font-size: 1.2rem;
          color:var(--white);
          transition:0.5s;
          fa-icon{
            margin-left:5px;
          }
        }
      }
      button:hover{
        p{
          color:var(--yellow);
        }
      }
    }
  }
  .collapse, .collapsing{
    background-color:var(--black);
  }
  .cart-container{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding:3% 5%;
    font-size:1.2rem;
    font-family: var(--tomorrow);
    border-top:1px solid var(--blue);
    background-color: var(--black);
    a{
      text-decoration: none;
      display:flex;
      flex-direction: row;
      color:var(--blue);
    }
    p{
      color:var(--blue);
    }
    span{
      margin-left:3px;
      color: var(--yellow);
    }
  }
}

