<header class="container-fluid">
  <div class="header-grid-container">
    <div class="header-logo-container">
      <a href="#"><img src="../../../assets/main-logo.svg" alt="Souls Eaters Logo"></a>
    </div>
    <div class="header-menu-container">
      <button type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
        <fa-icon [icon] = "faMagnifyingGlass"></fa-icon>
      </button>
      <app-sidemenu></app-sidemenu>
    </div>
  </div>

  <nav class="sticky-nav" ngStickyNav>
    <div class="collapse" id="collapseExample">
      <input type="text" placeholder="What are you looking for?">
      <a href="/">
        <button>
          <p>
            Search<fa-icon [icon]="faMagnifyingGlass"></fa-icon>
          </p>
        </button>
      </a>
    </div>
    <ul class="nav-grid-container">
      <li>
        <a href="/" class="link-active">Home</a>
      </li>
      <li>
        <a href="/categories">Categories</a>
      </li>
      <li>
        <a href="/onsale">On-Sale</a>
      </li>
      <li>
        <a href="/blog">Blog</a>
      </li>
    </ul>
  </nav>
</header>
