<app-social></app-social>
<section id="footer" class="footer-container container-fluid">
  <div class="footer-grid-container">
    <div class="footer-l">
      <a href="/">
        <img src="../../../assets/main-logo.svg" alt="Souls Eaters logo">
      </a>
      <p>© Copyright Souls Eaters
      <br>2022</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores nostrum impedit fuga eligendi porro est voluptas aliquam accusamus facilis iste!</p>
    </div>
    <div class="footer-r-grid">
      <div class="social-links-container">
        <h5>Our Social Media</h5>
        <ul>
          <li><a href="/">Facebook</a></li>
          <li><a href="/">Instagram</a></li>
          <li><a href="/">YouTube</a></li>
          <li><a href="/">Twitch</a></li>
        </ul>
      </div>
      <div class="footer-sitemap-container">
        <h5>Sitemap</h5>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/">Categories</a></li>
          <li><a href="/">On-sale</a></li>
          <li><a href="/">Blog</a></li>
        </ul>
      </div>
    </div>
  </div>
</section>
