<section id="whatsNew" class="container-fluid">
  <div class="whatsnew-grid-container">
    <div class="text-container">
      <h3>What’s new</h3>
      <h1>Play the lastest AAA and Indie games </h1>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. A alias, consequuntur placeat molestias officiis illum!</p>
      <a href="/">
        <button>
          <span>
            NEW GAMES 
          </span>
        </button>
      </a>
    </div>
    <div class="img-container">
      <img src="../../../assets/whatsnew.jpg" alt="">
    </div>
  </div>
</section>
