.whatsnew-grid-container{
  display:grid;
  grid-template-columns: repeat(2, 1fr);
  padding:4% 5%;
  background-color: var(--blue);
  .text-container{
    text-align: left;
    h3, h1, p{
      color:var(--white);
    }
    h3{
      font-size:1.6rem;
    }
    h1{
      font-size: 2.4rem;
    }
    p{
      font-size: 1.2rem;
      padding-top:15px;
    }
    a{
      text-decoration: none;
      display:flex;
      button{
        display: flex;
        width: auto;
        padding:3% 5%;
        border: 2px solid var(--yellow);
        border-radius: 20px;
        background-color: var(--black);
        margin-top:15px;
        color:var(--white);
        span{
          font-size: 1.2rem;
        }
      }
    }
  }
  .img-container{
    display:flex;
    padding:15px 0;
  }
}
